:root{
--primary: #737d84;

}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    background-color: #6699CC;
    height:100vh;
    display: flex;
    flex-direction: column;
}

header, footer{
    height: 15vh;
    background: var(--primary);
}

 #parent_li_div{
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 20px;
}
figure {
    flex-flow: wrap;
    justify-content: space-around;
    
}
figure img{
    display: block;
    margin: 0 auto;
}
figure p{
    margin: 50px;
}
main{
    flex-wrap: wrap;
    margin-top: 5%;
}
main h2{
    padding: 20px;
}

.card{
   padding: 10px;
   text-align: center;
   /* background-color: green; */
   /* border: 2px solid red; */
   border-style: solid black;
   border-width: 2px;
}

#work, #about-me, #contact-me, #dev-name{
    flex: 30%;
    background-color: orange;
}

#parent_div{
    display: flex;
}

#project_parent_div{
    display: flex;
}

#project_div{
    flex: 70%;
    /* background-color: purple; */
    border: 2px solid red;
}

#project_two, #project_three, #project_four, #project_five{
    flex: 50%;
}
/* project id's 2-5 cause the items to take up 50% of the container*/

#project_div #parent_foot_div{
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

/* Utility classes */
.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

@media screen and (max-width: 992px) {
    .card{
        width: 50%;
    }
    #project_parent_div{
        display: block;
    }
}
/* Causes the container to move when the screen size gets to 992px */
