*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #6699CC;
    height:100vh;
    display: flex;
    flex-direction: column;
}

header{
    height: 200px;
    width:100%;
    line-height: 40x;
    background-color: #737d84;
}
a{
    color: white;
    text-decoration: none;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 20px;
}
section {
    /* margin: 50px; */
    margin-bottom: 1em;
    flex-flow: wrap;
    justify-content: space-around;
    
}
section img{
    display: block;
    margin: 0 auto;
}
section p{
    margin: 50px;
    text-align: center;
}

main{
    /* height: 80vh; */
    border: 5px dashed green;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
main .container{
    background: gray;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    min-height: 500px;
    min-width: 500px;
}
footer{
    min-height: 50px;
    background-color: #737d84;
    margin-top: auto;
}
footer h2{
    margin-left: 200px;
}
/* Utility classes */
.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}